{% extends 'base.html.twig' %}

{% block title %}Aluno{% endblock %}

{% block body %}
    <h1>Aluno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aluno.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ aluno.nome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_aluno_index') }}">back to list</a>

    <a href="{{ path('app_aluno_edit', {'id': aluno.id}) }}">edit</a>

    {{ include('aluno/_delete_form.html.twig') }}
{% endblock %}
